<!DOCTYPE html>
<html>
  <head>
    <title>Qandam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Rendered Layout layouts/user_backoffice.html.erb</h1>    
    <%= yield %>
  </body>
</html>
